<div class="rounded-lg h bg-white mx-2 my-4 shadow-sm w-100 md:w-1/3 lg:w-1/4">
  <%= image_tag('shero.png', class: 'p-2 rounded-md object-fill', alt: 'Product Image') %>
  <div class="flex flex-col">
    <div class="flex items-center content-center justify-between p-4">
      <div class="flex flex-col">
        <a href="detail.html">
          <p class="andika text-lg hover:text-red-500 hover:underline"><%= product.name %></p>
        </a>
        <p class="text-gray-400 roboto text-sm">16 Oz</p>
      </div>
      <p class="text-red-500 anika font-bold">$ <%= product.price %></p>
    </div>
    <div class="flex justify-between p-2">
      <div class="w-1/3 items-center mb-2 justify-between flex">
        <%= link_to home_path(product.id),
                    class: "rounded-xl mx-1 p-2 border border-transparent hover:border-white
                     hover:bg-red-300 bg-red-200 text-white",
                    remote: true, method: :delete, disable_with: "Processing..." do %>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16"
               viewBox="0 0 172 172" style=" fill:#ffffff;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none" font-size="none"
               style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path
                  d="M28.66667,74.53333c-4.13529,-0.05848 -7.98173,2.11417 -10.06645,5.68601c-2.08471,3.57184 -2.08471,7.98948 0,11.56132c2.08471,3.57184 5.93115,5.74449 10.06645,5.68601h114.66667c4.13529,0.05848 7.98173,-2.11417 10.06645,-5.68601c2.08471,-3.57184 2.08471,-7.98948 0,-11.56132c-2.08471,-3.57184 -5.93115,-5.74449 -10.06645,-5.68601z">
                </path>
              </g>
            </g>
          </svg>
        <% end %>

        <p id="totalProduct_<%= product.id %>" class="andika text-bold mx-1 text-xl text-gray-500">0</p>

        <%= link_to home_path(product.id),
                    class: "rounded-xl mx-1 border border-transparent hover:border-white p-2
                     hover:bg-red-600 bg-red-500 text-white",
                    remote: true, method: :put, disable_with: "Processing..." do %>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16"
               viewBox="0 0 172 172" style=" fill:#ffffff;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none" font-size="none"
               style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path
                  d="M85.83203,17.04323c-6.32845,0.09274 -11.38527,5.2949 -11.2987,11.62344v45.86667h-45.86667c-4.13529,-0.05848 -7.98173,2.11417 -10.06645,5.68601c-2.08471,3.57184 -2.08471,7.98948 0,11.56132c2.08471,3.57184 5.93115,5.74449 10.06645,5.68601h45.86667v45.86667c-0.05848,4.13529 2.11417,7.98173 5.68601,10.06645c3.57184,2.08471 7.98948,2.08471 11.56132,0c3.57184,-2.08471 5.74449,-5.93115 5.68601,-10.06645v-45.86667h45.86667c4.13529,0.05848 7.98173,-2.11417 10.06645,-5.68601c2.08471,-3.57184 2.08471,-7.98948 0,-11.56132c-2.08471,-3.57184 -5.93115,-5.74449 -10.06645,-5.68601h-45.86667v-45.86667c0.04237,-3.09747 -1.17017,-6.08033 -3.36168,-8.26973c-2.1915,-2.18939 -5.17553,-3.39907 -8.27296,-3.35371z">
                </path>
              </g>
            </g>
          </svg>
        <% end %>
      </div>
      <%= link_to home_path(product.id),
                  remote: true, method: :put,
                  class: 'andika mb-2 rounded-full px-4 py-2 border border-gray-300
                      hover:text-white hover:bg-red-500 hover:border-transparent',
                  disable_with: "Processing..." do %>
        <%= tag.span 'Add To Cart', id: "addToCart_" + product.id.to_s %>
      <% end %>
    </div>
  </div>
</div>
